<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hydertechno.mulven">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".Internet.Connection"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mulven">
        <activity android:name=".Activities.RefundRequestActivity"></activity>
        <activity android:name=".Activities.RewardsActivity" />
        <activity
            android:name=".Activities.RefundMethodFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RefundOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RefundSettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NotificationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NagadPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PaymentMethodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ExistingIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CampaignProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PlaceOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PlaceOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GiftVoucherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SeeAllProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PhoneNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://mulven.com/invites/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Internet.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_applogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/themRed" />
    </application>

</manifest>